* {
    margin: 0;
    padding: 0;
}
button {
    outline: transparent;
}
.box {
    width: 100%px;
}
.header {
    width: 100%;
    height: 540px;
}
.dark {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.24);
}
.bg-img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    background-image: url(./img/Vector_Smart_Object.png);
    background-position-x: -400px;
    background-size: cover;
}
.login-box {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: space-around;
}
.login-list {
    padding-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 180px;
    height: 171px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.login-btn {
    width: 47px;
    height: 36px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    border: transparent;
}
.signup-btn {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    width: 90px;
    height: 36px;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 30px;
}
.logo {
    height: 20px;
    align-self: center;
}
.logo-link {
    width: 177px;
    height: 20px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}
.h1 {
    width: 80%;
    padding-top: 30px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}
.moto-text {
    margin: 0 auto;
    width: 270px;
    padding-top: 20px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}
.join-btn {
    margin: 0 auto;
    display: block;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    width: 280px;
    height: 40px;
    background-color: #ff4e50;
    border: transparent;
    border-radius: 30px;
    margin-top: 20px;
}

.h2 {
    text-align: center;
    margin-top: 70px;
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
}
.people-list {
    width: 194px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
}
.people-img {
    margin-top: 15px;
    width: 121px;
    height: 121px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.people-name {
    margin-top: 20px;
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.people-description {
    margin-top: 15px;
    color: #666666;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}
.photo-box {
    width: 121px;
    height: 121px;
    margin: 0 auto;
}
.photo-box::after {
    content: "";
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    left: 70%;
    top: -32px;
    border-radius: 50%;
    border: 4px solid #ffffff;
}
.icon-tv::after {
    background-color: #ff4e50;
    background-image: url(./img/icons/Shape_128.png);
}
.icon-cup::after {
    background-color: #ffa507 ;
    background-image: url(./img/icons/Shape_155.png);
    background-size: 45%;
}
.icon-bottle::after {
    background-color: #1cd7ad;
    background-image: url(./img/icons/Shape_153.png);
    background-size: 60%;
}
.icon-plane::after {
        background-color: #4e73db;
        background-image: url(./img/icons/Shape_170.png);
        background-size: 55%;
}
.see-other__btn {
    margin: 0 auto;
    display: block;
    width: 193px;
    height: 40px;
    border: 2px solid #ff4e50;
    background-color: transparent;
    border-radius: 20px;
    color: #ff4e50;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 70px;
}
@media screen and (min-width:768px) and (max-width:960px) { 
    
    /* ----------------TABLET---------------*/

    .box {
        width: 100%;
    }
    .bg-img {
        background-position: center;
    }
    .login-list {
        width: 89%;
        height: max-content;
        flex-direction: row-reverse;
    }
    .h1 {
        font-size: 52px;
        width: 477px;
    }
    .moto-text {
        font-size: 24px;
        width: auto;
    }
    .people-list {
        width: 63%;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 32px;
        height: 564px;
    }
    .people-list__element {
        width: 45%;
        height: 255px;

    }
}
@media screen and (min-width:960px)and (max-width:1200px) {
    /*----------NOTEBOOK----------------*/
    .box {
        max-width: 1440px;
        width: auto;
        margin: 0 auto;
    }
    .header {
        height: 700px;
    }
    .bg-img {
        background-position: center;
        background-size: cover;
    }
    .login-list {
        width: 89%;
        height: max-content;
        flex-direction: row-reverse;
        padding-top: 40px;
    }
    .h1 {
        width: 548px;
        font-size: 52px;
        padding-top: 160px;
    }
    .join-btn {
        margin-top: 35px;
    }
    .moto-text {
        font-size: 24px;
        width: auto;
        margin-top: 30px;
    }
    .people-list {
        width: 63%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 32px;
    }
    .people-list {
        width: 63%;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 32px;
        height: 564px;
    }
    .people-list__element {
        width: 45%;
        height: 255px;

    }
}


@media screen and (min-width:1200px) {
    /*------------DESKTOP/NOTEBOOK------------------------*/
    .box {
        max-width: 1440px;
        width: auto;
        margin: 0 auto;
    }
    .header {
        height: 700px;
    }
    .bg-img {
        background-position: center;
        background-size: cover;
    }
    .login-list {
        width: 89%;
        height: max-content;
        flex-direction: row-reverse;
        padding-top: 40px;
    }
    .h1 {
        width: 548px;
        font-size: 52px;
        padding-top: 160px;
    }
    .join-btn {
        margin-top: 35px;
    }
    .moto-text {
        font-size: 24px;
        width: auto;
        margin-top: 30px;
    }
    .people-list {
        width: 900px;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 32px;
    }
    .people-list__element {
        width: 200px;
        height: 255px;
    }
    .see-other__btn {
        margin-top: 40px;
        margin-bottom: 79px;
    }










